HTML {
    height: 100%;
    background-image: linear-gradient(to bottom right, #1a237e, #2196f3)
}

.container {
    background-color: none;
}

.controlContainer {

    display: block;
}

button{
    border: none;
    padding: 10px;
    border-radius: 30px;
}
.controlContainer input {
    display: inline;
}

.controlContainer label {
    display: inline;
}

.passwordOptions{
    margin-top: 10px;
    margin-bottom: 10px;
}

.passwordOptionsContainer{
    margin-bottom: 50px;
}

.passwordOptions input {
    display: inline-block;
}

.passwordOptions label {
    display: inline-block;
}

.passwordOptions p {
    display: inline-block;
}

#footer {
    position: absolute;
    width: 100%;
    left: 0;
    color: black;
    bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
    z-index: 2;
}

#footer a {
    text-align: center;
    text-decoration: none;
    color: black;
}

#toCopy {
    position: absolute;
    bottom: 0;
}
