HTML {
    height: 100%;
}

body {
    width: 100%;
    background-color: white;
}

.passwordGeneratorContainer{

    height: 100%;
}

.container {
    vertical-align: middle;
    padding: 15% 0;
    background-color: white;
    color: black;
}

.controlContainer {
    border-bottom: 2px dotted lightgray;
    height 60px;
    display: block;

}

button {
    border-radius: 25px;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom right,#03A9F4,#448AFF);
    color: white;
    font-weight: bold;
    border: none;

    margin-top: 10px;
}



.controlContainer input {
    background-color: white;
    text-align: right;
    color: black;
    border: none;
    height: 25px;
    margin: 5px;
    display: inline;
    float: right;
}

.controlContainer label {
    padding: 5px;
    margin: 0px;
    display: inline;
}

.passwordOptions {
    margin-top: 10px;
    margin-bottom: 10px;
}

#passwordlength{
    width: 45px;
    direction: rtl;
    
}

.passwordOptions input {
    display: inline-block;
}

.passwordOptions label {
    display: inline-block;
}

.passwordOptions p {
    display: inline-block;
}

#toCopy {
    border:none;
    border-bottom: 2px dotted lightgray;
    background-color: white;
    color: black;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    height: 50px;
    font-size: 1.5em;
}
