HTML {
    height: 100%;

}

body{
    background-color: black;
}
.container {
    background-color: black;
    color: white;
}

.controlContainer {

    display: block;
}
button{
    background-color: black;
    border: 2px solid white;
    color: white;
}

.controlContainer input {
    display: inline;
}

.controlContainer label {
    display: inline;
}

.passwordOptions{
    margin-top: 10px;
    margin-bottom: 10px;
}

.passwordOptionsContainer{
    margin-bottom: 50px;
}

.passwordOptions input {
    display: inline-block;
}

.passwordOptions label {
    display: inline-block;
}

.passwordOptions p {
    display: inline-block;
}

#footer {
    background-color: black;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    color: white;
    bottom: 0;
    padding-bottom: 30px;
    padding-top: 10px;
    z-index: 2;
    margin: 0;
}

#footer a {
    text-align: center;
    text-decoration: none;
    color: white;
}

#toCopy {
    position: absolute;
    bottom: 0;
}
